/* Font Serving */
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/work-sans/work-sans-v19-latin-regular.woff2')
            format('woff2'),
        url('../assets/fonts/work-sans/work-sans-v19-latin-regular.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/work-sans/work-sans-v19-latin-500.woff2')
            format('woff2'),
        url('../assets/fonts/work-sans/work-sans-v19-latin-500.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/work-sans/work-sans-v19-latin-700.woff2')
            format('woff2'),
        url('../assets/fonts/work-sans/work-sans-v19-latin-700.ttf')
            format('truetype');
}

body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

/* Variables */
:root {
    --primary-100: #3f51b5;
    --primary-200: #757de8;
    --primary-300: #dedeff;
    --primary-accent: #ffc107;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --white-accent: #f5f5f5;
    --white: #ffffff;
}

/* Block Component */
.block {
    padding: 1.25rem;
}

.block__content {
    max-width: 1440px;
    margin: 0 auto;
}

.block--colored {
    background: var(--primary-100);
}

@media only screen and (min-width: 744px) {
    .block {
        padding: 2rem;
    }
}

/* Logo Component */
.logo {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
}

.logo__img {
    width: 3rem;
}

.logo__txt {
    color: var(--white);
    font-weight: 700;
    /* Fix property value here */
    letter-spacing: 1%;
}

.logo--background {
    background: var(--white);
    padding: 0.625rem 0.75rem 0.625rem 0.625rem;
}

.logo--background .logo__txt {
    color: var(--primary-100);
}

@media only screen and (min-width: 744px) {
    .logo__txt {
        font-size: 1.25rem;
    }
}

/* Generator Component */
.generator {
    /* Wont be styled any other way so not going to include a modifier */
    background: var(--white);
    border-radius: 15px;
    padding: 1rem;
}

.generator__label {
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.generator__range-container,
.generator__checkbox-container {
    margin-bottom: 0.625rem;
}

.generator__range-container,
.generator__range-control,
.generator__checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.generator__range-label,
.generator__checkbox-label {
    font-size: 0.875rem;
}

.generator__range-control,
.generator__checkbox-container {
    justify-content: unset;
    gap: 16px;
}

.generator__range-input,
.generator__checkbox-input {
    accent-color: var(--primary-200);
}

.generator__range-value {
    color: var(--primary-200);
    font-size: 1.125rem;
    font-weight: 500;
}

.generator__checkbox-container {
    gap: 8px;
}

.generator__checkbox-container:last-of-type {
    margin-bottom: 1rem;
}

.generator__output-container {
    border: 1px solid var(--primary-300);
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.generator__output {
    font-size: 1.125rem;
}

@media only screen and (min-width: 744px) {
    .generator__label {
        font-size: 1rem;
    }

    .generator__range-container,
    .generator__checkbox-container {
        margin-bottom: 0.875rem;
    }
}

/* Badge Component */
.badge {
    background: var(--white-accent);
    border-radius: 100px;
    display: inline-block;
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}

.badge--purple {
    background: var(--primary-300);
    color: var(--primary-200);
}

/* Button Component */
.button {
    border: 0;
    border-radius: 12px;
    font-weight: 500;
    padding: 0.75rem 1rem;
    width: 100%;
}

.button--primary {
    background-color: var(--primary-200);
    color: var(--white);
}

.button--secondary {
    background: var(--white);
    border: 1px solid var(--primary-200);
    color: var(--primary-200);
}

/* Hero */
.hero__left {
    color: var(--white);
}

.hero__title {
    line-height: 1.2;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.hero__description {
    margin-bottom: 2rem;
}

@media only screen and (min-width: 744px) {
    .hero__title {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1120px) {
    .hero {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }

    .hero__left {
        width: 50%;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    .hero__description {
        font-size: 1.25rem;
        margin: 0;
    }

    .hero__right {
        width: 50%;
    }
}

@media only screen and (min-width: 1240px) {
    .hero {
        gap: 2rem;
    }

    .hero__title {
        font-size: 4rem;
    }
}

/* Layout */
.block__content .logo {
    margin-bottom: 2.5rem;
}

.generator .badge {
    margin-bottom: 1rem;
}

.generator .button {
    margin-bottom: 0.625rem;
}

.generator .button:last-of-type {
    margin: 0;
}

@media only screen and (min-width: 1240px) {
    .hero__right .generator {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}
