<!-- No Background Logo -->
<section class="logo">
    <img
        src="./assets/images/password-generator-logo-white.webp"
        alt="Password Generator icon logo."
        class="logo__img"
    />
    <p class="logo__txt">Password Generator</p>
</section>

<!-- Background Logo -->
<section class="logo logo--background">
    <img
        src="./assets/images/password-generator-logo-purple.webp"
        alt="Password Generator icon logo."
        class="logo__img"
    />
    <p class="logo__txt">Password Generator</p>
</section>
